 * {margin:0; padding:0; border:0;}

body, html{
	background-color:  #FE9A2E;
	font-family: Verdana;
	font-size: 14 px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body > header{
	position: relative;
	background-color: #B40404;
	margin: 1%;
	width: 96%;
	height: 10%;
	text-align: center;
	padding: 1%;
 	border-radius: 10px;
}

body > nav{
	position: relative;
 	background-color: #DEB887;
 	margin: 1%;
 	width:20%;
 	height: 60%;
 	float: left;
 	padding: 1%;
 	border-radius: 10px;
}

body > section{
	position: relative;
	margin: 1%;
	width: 40%;
 	height: 60%;
	float: left;
	text-align: center;
	padding: 1%;
 	border-radius: 10px;
}

body > aside{
	position:relative;
	background-color: #DEB887;
	margin: 1%;
	width: 20%;
 	height: 60%;
	float: right;
	padding: 1%;
 	border-radius: 10px;
}

body > footer{
	position:relative; 
	background-color: #B40404;
	margin: 1%;
	width:96%;
	height:5%;
	clear:both;
	text-align: center;
	padding: 1%;
 	border-radius: 10px;
}
